BOT_TOKEN=8529096259:AAG8CAznrofNWbrend4fMDlcrZRkfQXR_v0
WEBHOOK_URL=https://api.telegram.org/bot8529096259:AAG8CAznrofNWbrend4fMDlcrZRkfQXR_v0/setWebhook?url=https://telegram-bot-0mr2.onrender.com/telegram
SQLITE_PATH=taxi_bot.db
LOG_LEVEL=INFO

